   <div class="container-arriba">
      <div class="dos">
        <img class="img1" src="../multimedia/01.png">

      </div>
       
      

      <div class="dos">
        <img class="img2" src="../multimedia/02.png">
        
        <h1>
          ES LA APP IDEAL PARA ADMINISTRAR CUALQUIER TIPO DE COMUNIDAD.
        </h1>
      
        <h2 style="text-align:center ">
          Se puede utilizar desde CUALQUIER DISPOSITIVO para COMUNICAR, reservar espacios comunes, liquidar gastos y GESTIONAR ASUNTOS
        </h2>
      </div>
    </div>



   
   
      
    

   
 
       
    



 
