 <!-- aca empieza el caminito  -->
{{!--   <div class="caminito">  --}}

  <div class="contenedortotal">
    
    <div class="contenedorizq">
          <div class="iz1">
              <div><h1 class="numiz">1</h1></div>
              <div><h3 class="tex"><strong>COMUNIDADES FREE</strong> ES MUY FÁCIL!
              Descargá la APP desde los stores y ya podés comenzar a utilizarla GRATIS!
              </h3></div>
          </div>    

           
                <div class="contenedor-store">
                  <a href="https://play.google.com/store/apps/details?id=com.alberione.isay&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1">  
                    <img class="imgar3" src="../multimedia/gp.png"></a> 
                    <br>
                  <a href="https://apps.apple.com/ar/app/isay-comunidades-agiles/id1237726006?l=en&mt=8">
                  <img class="imgar3" src="../multimedia/as.png"> </a> 
                  
              </div>
                
     


    </div>

    <div class="contenedorder">
         <img src="../multimedia/12.png">

    </div>



  </div>
  
  
  
  {{!-- 
  
  
  <div >    
      
      <div class="divcont1">
        
          <div class="iz">
              <div><h1 class="numiz">1</h1></div>
              <div><h3 class="tex"><strong>COMUNIDADES FREE</strong> ES MUY FÁCIL!
              Descargá la app desde los stores y ya podés comenzar a utilizar GRATIS!
              </h3></div>
          </div>    
          
          <div class="stores" >
                <a  href="https://play.google.com/store/apps/details?id=com.alberione.isay&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1"><img src="../multimedia/10.png"> </a> 
                <a  href="https://apps.apple.com/ar/app/isay-comunidades-agiles/id1237726006?l=en&mt=8"><img src="../multimedia/11.png"> </a> 
          </div> 
       
       
            <div class="cargando">
                <img  src="../multimedia/12.png">
            </div>
        

        </div>
          

        
 
      --}}
      
      
      

      <div class="divcont2">
        <img class="imgar3" src="../multimedia/13.png">
          <div class="der">
          <div >
            <h3 class="tex">
              Creá tu comunidad e invitá a los miembros a ser parte. 
              Tambien la podes usar web
            </h3>
          </div>
          <div>
            <h1 class="numder">2</h1>
          </div>       
        </div>
      </div>

     <br> 
      <div class="divcont2"> 
        <div class="iz"> 
          <div>
            <h1 class="numiz">3</h1>
          </div>
          <div>
            <h3 class="tex">El administrador podrá hacer anuncios, comunicar y consultar a todos los miembros aquello que le resulte de interés
            </h3>
          </div>
        </div>
        <img class="imgar3" src="../multimedia/16.png">
      </div>
      
      <div class="divcont2"> 
        <img class="imgar3" src="../multimedia/17.png">
      <div class="der">
        <div>
          <h3 class="tex">
            A su vez, los miembros podrán estar conectados inmediatamente con lo que pasa en la COMUNIDAD.
          </h3>
        </div>
      
        <div>
          <h1 class="numder">4</h1>
        </div>
      </div>
    </div>

<div class="divcont2">
    <div class="iz">
      <div>
        <h1 class="numiz">5</h1>
      </div>
  
      <div>
        <h3 class="tex">
          La forma más rápida, clara y simple de reservar espacios comunes y gestionar las incidencias
        </h3>
      </div>
    </div>
    <img class="imgar3" src="../multimedia/20.png">

</div >

<div class="divcont2">
  <img class="imgar3" src="../multimedia/21.png">
  <div class="der">
    <div>
      <h3 class="tex">
        Un potente sistema de liquidación de gastos con informes detallados de cuentas, cajas proveedores; y vinculación con sistemas de recaudacion y pagos digitales.
      </h3>
    </div>

    <div>
      <h1 class="numder">6</h1>
    </div>
  </div>
</div>

 </div >