

<div class="containter">
    <div class="text-center m-5">
        <h1>
            {{ title }}
        </h1>

        <ul>
            <li><h3>{{nombre}}</h3></li>
            <li><h3>{{email}}</h3></li>
        </ul>


    </div>
</div> 