<footer class="container-fluid p-5 bg-dark text-white">
   <p>&copy: 2022 nachito </p>

   <div  >
   <ul class=" mb-2 mb-lg-0">
       <li class="nav-item">
       <a  class="nav-link active"  aria-current="page"  href="/contactos" ><img src="../multimedia/ONOFF.png" style="padding: 4px;">algo </a>
      </li>
    </ul>
              
  </div>

</footer>