      <div class="container-modulos-int">
        <div>
          <img class="imgicon" src="../multimedia/03.png">
        </div>
        <div class="mod">
          <h1>INFO</h1>
          <h2>Guía de contactos útiles</h2>
          <h2>Proveedores</h2>
          <h2>Prestadores</h2>
        </div>
      </div>

      <div class="container-modulos-int">
        <div class="mod">
          <img class="imgicon" src="../multimedia/04.png">
        </div>
        <div class="mod">
            <h1>COMUNICACIÓN</h1>
            <h2>Inmediata</h2>
            <h2>con nofiticaciones push.</h2>
            <h2>Votación, encuestas</h2>
       </div>
      </div>

      <div class="container-modulos-int">
        <div>
          <img style="padding-left:50px" class="imgicon" src="../multimedia/05.png">
        </div>
        <div class="mod">
             <h1>LIQUIDACIÓN</h1>
             <h2>Fácil y clara</h2>
             <h1>CONEXION CON RECAUDADORAS</h1>
        </div>        
      </div>

      <div class="container-modulos-int">
        <div>
          <img class="imgicon" src="../multimedia/06.png">
        </div>

        <div class="mod">
          <h1>RESERVA</h1>
          <h2>de espacios comunes, quincho, pileta, etc.</h2>
        </div>
      </div>

      <div class="container-modulos-int">
        <div>
          <img class="imgicon" src="../multimedia/07.png">
        </div>
          <div class="mod">
              <h1>GESTIÓN</h1>
              <h2>de reclamos, con seguimiento de avances.</h2>
          </div>    
      </div>

      <div class="container-modulos-int">
        <div>
          <img class="imgicon" src="../multimedia/08.png">
        </div>
         <div class="mod">
              <h1>REPORTES</h1>
              <h2>Toda la información.</h2>
         </div>  
      </div>
    