<div class="containter">
    <div class="text-center m-5">
        <h1>
            Contactactanos para activar una membresia free !!!
        </h1>

    </div>

<form action="./enviomail" method="post">
      <div class="mb-3 row">
        <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
         <div class="col-sm-10">
        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="nombre del producto">
         </div>
  </div>
  <div class="mb-3 row">
    <label for="email" class="col-sm-2 col-form-label">Tu email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="email" id="email" placeholder="escribe tu@email">
    </div>
  </div>
    <div class="mb-3 text-center">
        <input type="submit" class="button btn btn-success w-50 p-2" 
        value="enviar el mail">
    </div>

    <div class="text-center">
        <h2 class="text-danger">
            {{ validacion }}
        </h2>
    </div>
</form>

</div>

