
  <br><br><br><br>       <br><br>
 <main>
 <div class="container-arriba">
      <div class="dos">
        <img class="img1" src="../multimedia/01.png">

      </div>
       
      

      <div class="dos">
        <img class="img2" src="../multimedia/02.png">
        
        <h1>
          ES LA APP IDEAL PARA ADMINISTRAR CUALQUIER TIPO DE COMUNIDAD.
        </h1>
      
        <h2 style="text-align:center ">
          Se puede utilizar desde CUALQUIER DISPOSITIVO para COMUNICAR, reservar espacios comunes, liquidar gastos y GESTIONAR ASUNTOS
        </h2>
      </div>
    </div>  
        
        <br><br>
 </main>
 

<a name="modulos">
        <div class="container-modulos">
        {{> modulos }}  
        </div></a>
 

   <a name="caminito">
        <div >
         {{> caminito }}  
        </div></a>
  
<div class="container text-center">
    <div class="text-center m-5">
        <div  class="contacto">
            <a name="contacto"></a>
        {{> contacto }}  
        </div>
    </div>
</div>

{{!-- 

<script>
$(window).scroll(function() {
 //    if ($("#menu").offset().top > 50) {
  //    $("#menu").addClass("bg-inverse");
   // } else {
  //    $("#menu").removeClass("bg-inverse");
 //   }
 // }); 

  if ($(document).scrollTop() > 70) {
    $('.nav').addClass("navbar-expand-lg scrolling-navbar");
  } else {
    $('.nav').removeClass("navbar-expand-lg scrolling-navbar");
  }
});
</script>
 --}}